fullnameOverride: "kps"

grafana:
  enabled: true
  adminPassword: "change-me-now"
  defaultDashboardsEnabled: true
  persistence:
    persistence:
    enabled: true
    type: pvc
    existingClaim: monitoring-grafana
    storageClassName: null

prometheus:
  prometheusSpec:
    retention: 15d
    resources:
      requests:
        cpu: 200m
        memory: 1Gi
    storageSpec:
      volumeClaimTemplate:
        spec:
          storageClassName: gp2
          accessModes: ["ReadWriteOnce"]
          resources:
            requests:
              storage: 30Gi

alertmanager:
  alertmanagerSpec:
    storage:
      volumeClaimTemplate:
        spec:
          storageClassName: gp2
          accessModes: ["ReadWriteOnce"]
          resources:
            requests:
              storage: 5Gi
