crds:
  enabled: false

fullnameOverride: "kps"

grafana:
  enabled: true
  defaultDashboardsEnabled: true

  admin:
    existingSecret: grafana-admin
    userKey: admin-user
    passwordKey: admin-password

  persistence:
    enabled: true
    type: pvc
    existingClaim: monitoring-grafana
    storageClassName: null
