replicaCount: 2

image:
  repository: 515347263716.dkr.ecr.us-east-1.amazonaws.com/supporthub-app
  tag: "latest"
  pullPolicy: IfNotPresent

containerPort: 8080

service:
  type: ClusterIP
  port: 80

livenessProbe:
  httpGet:
    path: /healthz
    port: http
  initialDelaySeconds: 10
  periodSeconds: 10

readinessProbe:
  httpGet:
    path: /healthz
    port: http
  initialDelaySeconds: 5
  periodSeconds: 5

ingress:
  enabled: false
  className: ""
  annotations: {}
  hosts: []
  tls: []
